@model IEnumerable<ThreeDPrinterListingModel>
@{
    ViewData["Title"] = "All 3D Printers";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Picture
            </th>
            <th>
                Make
            </th>
            <th>
                Model
            </th>
            <th>
                Build Volume
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            @if (User.IsInRole("Administrator") || User.IsInRole("Dealer"))
            {
                <th>
                    Edit
                </th>
                <th>
                    Delete
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var printer in Model)
        {
        <tr>
            <td>
                <img src="@printer.ImageUrl" height=150>
            </td>
            <td>
                @printer.Make
            </td>
            <td>
                @printer.Model
            </td>
            <td>
                @printer.BuildVolume
            </td>
            <td>
                @printer.Description
            </td>
            <td>
                @printer.Price
            </td>
            @if (User.IsInRole("Administrator") || User.IsInRole("Dealer"))
            {
                <td>
                    <a class="btn btn-warning btn-sm" href="/ThreeDPrinters/Edit3DPrinters/@printer.Id">Edit</a>
                </td>
                <td>
                    <a class="btn btn-danger btn-sm" href="/ThreeDPrinters/Delete3DPrinters/@printer.Id">Delete</a>
                </td>
            }
        </tr>
        }
    </tbody>
</table>